{% extends "base.html" %}

{% block body %}
<div class="box">
	<h1>Tumblr2Rss</h1>
	<p>tumblr2rss is a little script that turns your tumblr
	dashboard into an rss feed. Click the button below to
	get started. <em>Note: using this service will effectively
	make your dashboard public, so use with caution.</em></p>
	<div class="button">
        <a class="login-ref" href="{{ url_for("tumblr.register") }}">Login with tumblr</a>
    </div>
    <h2 id="unregister">How to Unregister</h2>
    <p>You can unregister from this service (removing your ".rss" url) by
    going to <a href="https://www.tumblr.com/settings/apps">"Apps" in your settings</a>
    and clicking the "x" next to the name <strong>RSS-Utils Tumblr Bot</strong></p>
    <h2 id="bugs">Reporting Bugs</h2>
    <p>If you find any bugs (posts that don't look right, missing posts, etc.)
    please <a href="https://github.com/Joshkunz/rss-utils/issues">open a new issue</a>
    on the rss-utils GitHub page.</p>
</div>
{% endblock %}
